@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: rgb(64,69,82);

    --card: #ffffff;
    --card-foreground: rgb(64,69,82);
 
    --popover: #ffffff;
    --popover-foreground: rgb(64,69,82);
 
    --primary: rgb(64,69,82);
    --primary-foreground: #ffffff;
 
    --secondary: rgb(241,245,249);
    --secondary-foreground: rgb(64,69,82);
 
    --muted: rgb(241,245,249);
    --muted-foreground: rgb(100,116,139);
 
    --accent: rgb(241,245,249);
    --accent-foreground: rgb(64,69,82);
 
    --destructive: rgb(239,68,68);
    --destructive-foreground: rgb(249,250,251);

    --border: rgb(226,232,240);
    --input: rgb(226,232,240);
    --ring: rgb(64,69,82);
 
    --radius: 0.5rem;
  }
  
  .dark {
    --background: rgb(56,60,74); /* #383c4a */
    --foreground: rgb(124,129,140); /* #7c818c */
  
    --card: rgb(64,69,82); /* #404552 */
    --card-foreground: rgb(124,129,140); /* #7c818c */
  
    --popover: rgb(75,81,98); /* #4b5162 */
    --popover-foreground: rgb(124,129,140); /* #7c818c */
  
    --primary: rgb(82,148,226); /* #5294e2 */
    --primary-foreground: rgb(64,69,82); /* #404552 */
  
    --secondary: rgb(56,60,74); /* #383c4a */
    --secondary-foreground: rgb(124,129,140); /* #7c818c */
  
    --muted: rgb(64,69,82); /* #404552 */
    --muted-foreground: rgb(75,81,98); /* #4b5162 */
  
    --accent: rgb(82,148,226); /* #5294e2 */
    --accent-foreground: rgb(64,69,82); /* #404552 */
  
    --destructive: rgb(82,148,226); /* #5294e2 */
    --destructive-foreground: rgb(124,129,140); /* #7c818c */
  
    --border: rgb(56,60,74); /* #383c4a */
    --input: rgb(56,60,74); /* #383c4a */
    --ring: rgb(124,129,140); /* #7c818c */
  }
}  
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    transition: background-color 0.3s, color 0.3s;
  }
  .dark body {
    @apply bg-background text-foreground;
  }
  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  appearance: none;
}